html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
input[type="checkbox"] {margin: 0}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px Arial, sans-serif;
}

h1 {
	font-size: 18px;
	color: #00ACDB;
    margin-bottom: 20px;
    text-align: center;
}

.wrapper {
	min-width: 600px;
	max-width: 1500px;
	margin: 0 auto;
}


/* up-table
-----------------------------------------------------------------------------*/
.upper{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
}
.upper .upper-inner {
    min-width: 600px;
    max-width: 1500px;
    margin: 0 auto;

}
.upper .upper-inner .up-table{
    width: 100%;
}
.upper .upper-inner-padding {padding: 0 20px 0px 20px;}
.upper .upper-inner .up-table th {
    text-align: center;
    vertical-align: middle;
    height: 30px;
}
.upper .upper-inner .up-table th{
    background-color: #00ACDB;
    color: #FFFFFF;
    position: relative;
    border-right: 1px solid #FFFFFF;
    padding: 0 1px 0 1px;
    border-right:1px solid #FFFFFF;
}
.upper .upper-inner .up-table th.last{
    border: none;
}
.upper .upper-inner .up-table .short {
    display: none;
}
.upper .upper-inner .up-table td a{
    display: block;
    text-align: center;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    outline: none;
    color: #000000;
}
.upper .in-tr, .upper .out-tr {display: table-row}

.upper tbody {
    visibility: hidden;
    z-index: 0;
}

.upper td{
    height: 0px!important;
}

.upper td a {
    height: 0px!important;
}
/* Header
-----------------------------------------------------------------------------*/
.header {padding: 20px;    z-index: 2; background: #FFFFFF;
    position: relative; }


/* Middle
-----------------------------------------------------------------------------*/
.content { padding: 0 20px 0 20px; text-align: center;position: relative; }
.content .filter{
	width: 230px;
	margin: 0 auto;
    text-align: center;
    z-index: 2; background: #FFFFFF;
    position: relative;
}


/* Filters
-----------------------------------------------------------------------------*/

.filters {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 17px;
    height: 17px;
}
.for-filters {cursor: pointer}
.filters:not(checked) {position: absolute;opacity: 0;visibility: hidden;}
.filters:not(checked) + label {padding: 1px 23px 0 65px; font-size: 14px;}
.filters:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 60px;
    height: 26px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    background: #9C9FA7;
}

.filters:not(checked) + label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    background: #FFF;
    transition: all .2s;
}
.filters:checked + label:before {background: #00ACDB;}
.filters:checked + label:after {left: 36px;}

.in-tr, .out-tr {display: none}

.in-filter:checked ~ * .in-tr{
    display: table-row;
}
.out-filter:checked ~ * .out-tr{
    display: table-row;
}

.for-filters-out {position: absolute;  top: -30px;  z-index: 3;  left: 40%;}
.for-filters-in{position: absolute;  top: -30px;  z-index: 3;  left: 50%;}

/* table
-----------------------------------------------------------------------------*/

.table-fly .main-table{
    width: 100%;
    z-index: 1;
    overflow: hidden;
}
.table-fly .main-table td{
    position: relative;
}
.table-fly .main-table th, .table-fly .main-table td {
    text-align: center;
    vertical-align: middle;
    height: 30px;
}


.table-fly .main-table th{
    background-color: #00ACDB;
    color: #FFFFFF;
    position: relative;
    border-right: 1px solid #FFFFFF;
    padding: 0 1px 0 1px;
}

.table-fly .main-table th.last{
    border-right: none;
}
.table-fly .main-table .short {
    display: none;
}
.table-fly .icon-air {width: 20px}


.table-fly .main-table tr.odd  {
    background-color: rgba(242, 242, 242, 1);
}

.table-fly .main-table tr:hover{
    background-color: #3DCEF5;
}

.table-fly .main-table td.odd:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: rgba(156, 159, 167, 0.45);
    left: 0px;
    top:0px;
    z-index: -1;
}

.table-fly .main-table td:hover:after {
    background-color: #3DCEF5;
    content: '';
    z-index: -1;
    height: 8000px;
    left: 0;
    position: absolute;
    top: -4000px;
    width: 100%;
}

.table-fly .main-table td a{
    display: block;
    text-align: center;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    outline: none;
    color: #000000;
}
.table-fly .main-table td a:visited{
    color: #000000;
}
.table-fly .main-table .green{color: green;}
.table-fly .main-table .orange{color: orange;}
.table-fly .main-table .red{color: red;}



/* popups
-----------------------------------------------------------------------------*/

.popup {
    display: none;
    z-index: 999;
}
.popup:target {
    display: block;
}

.popup .overlay {
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    text-align: center
}
.popup .overlay:after{
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
    content: ''
}
.popup .inner{
    display: inline-block;
    position: relative;
    width: 400px;
    vertical-align: middle;
    z-index: 9999;
    background-color: #FFFFFF;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.popup .inner .close{
    position: absolute;
    right: -10px;
    top: -10px;
    width: 25px;
    height: 25px;
    display: block;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    color: #FFFFFF;
    background-color: #00acdb;
    text-decoration: none;
    text-align: center;
    line-height: 25px;

}
.popup .inner h2{
    padding-top: 5px;
    font-size: 16px;
}
.popup .inner .detail{
    margin: 20px auto 20px;

}
.popup .inner .detail td{
    height: 25px;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 25px;
}

.popup .inner .detail tr:nth-child(odd){
    background-color: rgba(156, 159, 167, 0.45);
}

.popup .inner .icon-air {width: 20px}


/* media
-----------------------------------------------------------------------------*/




@media all and (max-width: 1100px) {
    .for-filters-out {left:38%}
}
@media all and (max-width: 1000px) {
    .table-fly .main-table td, .up-table td{
        vertical-align: middle;
        padding-left: 3px;
        padding-right: 3px;
    }
    .table-fly .main-table td a, .up-table td a{
        display: block;
        text-align: center;
        width: 100%;
        height: 45px;
        line-height: 20px;
        text-decoration: none;
        outline: none;
        color: #000000;
        vertical-align: middle;
    }

    .table-fly .main-table td.odd:before, .up-table td.odd:before{
        content: '';
        height: 45px;
    }
}

@media all and (max-width: 900px) {
    .table-fly .main-table .short,.up-table .short {display: block}
    .table-fly .main-table .full, .up-table .full {display: none}
    .upper .upper-inner .up-table .short, .up-table .short {display: block}
    .upper .upper-inner .up-table .full, .up-table .full{display: none}
    .for-filters-out {left:34%}
}

@media all and (max-width: 800px) {
    .company-name {display: none}
    .comments {display: none}
}

@media all and (max-width: 725px) {
    .for-filters-out {left:30%}
}
